@import url('https://fonts.googleapis.com/css?family=Raleway|Fjalla+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.box {
  display: block;
  border: 2px solid white;
  padding: 30px;
  margin: 10px;
}

h1 {
  color: #F5E6E8;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 30%;
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  margin-bottom: 0;
  animation: fadein 2s;
  text-shadow: -1px -1px 0 #AAA1C8, 0 -1px 0px #AAA1C8;
}

h3 {
  margin-top: 0;
  color: #8D9AB7;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  animation: fadein 6s;
}

img {
  z-index: 5;
  width: 40px;
  height: auto;
  animation: fadein 5s;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

h2 {
  text-align: left;
  margin-top: 0;
  font-size: 20px;
}

h4, a {
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: #F5E6E8;
  text-decoration: none;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.projectCard {
  display: flex;
  padding: 20px;
  margin: 10px;
  align-self: auto;
  width: 40%;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.projectImages {
  width: 100%;
  height: auto;
}

p {
  color: #F5E6E8;
  text-align: left;
  font-family: "Raleway", sans-serif;
}


h1.projectstitle {
  color:#F5E6E8;
  text-shadow: -.5px -.5px 0 white, 0 -.5px 0px;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
font-size: 80px;
}

.songbox {
  margin-right: 20px;
  display: block;
  float: left;
  margin-top: 40%;
  margin-bottom: 10%;
}

h5 {
  color:#F5E6E8;
  font-family: 'Raleway', sans-serif;
}

.propic {
  float: right;
  display: block;
  width: 40%;
  height: auto;
  border-radius: 56%;
}

.description {
  text-align: right;
  margin-left: 10px;;
  margin-right: 50%;
  line-height: 3;
}